@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background-color:#E3E996; */
  background-color: #f9f7c9;
  /* background-color: #f5f5f5; */
  color: #3E5F54;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.react-datepicker{
  border:#b36424;
}

.react-datepicker__time-container{
  background-color: #E3E996;
}
.react-datepicker__header{
font-weight: 700;
}

.react-datepicker__month-container{
  background-color: #e9eda8;
  ;
  
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme:) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */